.nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 20px;

  color: #b4b8c6;
  font-weight: 700;
  font-size: 18px;
}

.logoName {
  color: #4e9aff;
  font-weight: 900;
  font-size: 30px;
}
